<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd 
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/data/jpa
    	https://www.springframework.org/schema/data/jpa/spring-jpa.xsd">
	<!-- Permite el uso de anotaciones con Spring en el Base Package mencionado -->
	<context:annotation-config></context:annotation-config>
	<context:component-scan
		base-package="com.ejemplo"></context:component-scan>
		
	<!-- Se carga el archivo de configuración de Properties -->
	<context:property-placeholder location="classpath*:config/application-properties.properties"/>

	<!-- Bean que se encarga de realizar la conexión a la Base de Datos -->
	<bean id="dataSource"
		class="org.apache.commons.dbcp2.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${spring.datasource.driverClassName}"></property>
		<property name="url" value="${spring.datasource.url}"></property>
		<property name="username" value="${spring.datasource.username}"></property>
		<property name="password" value="${spring.datasource.password}"></property>

		<!-- Si quisieramos utilizar un pool de conexiones, utilizariamos las siguientes 
			propiedades -->
		<!-- <property name="minPoolSize" value="5"></property> -->
		<!-- <property name="maxPoolSize" value="10"></property> -->
		<!-- <property name="maxIdleTime" value="30000"></property> -->
	</bean>

	<!-- Bean que se encarga de administrar y registrar los entities de JPA y sus propiedades -->
	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="packagesToScan"
			value="com.ejemplo.tiendamusicalentities.entities"></property>
		<property name="jpaProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.jdbc.time_zone">America/Mexico_City</prop>
			</props>
		</property>
		<property name="persistenceProvider">
			<bean class="org.hibernate.jpa.HibernatePersistenceProvider"></bean>
		</property>
	</bean>
	
	<!-- Bean que se encarga de gestionar las transacciones para el CRUD de los Entities -->
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<!-- Etiqueta que permite utilizar la anotación @Transactional de Spring para ejecutar transacciones de JPA -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	<!-- Etiqueta que permite registrar las clases que se encargan de ejecutar las transacciones a la base de datos (DAO) -->
	<jpa:repositories base-package="com.ejemplo.tiendamusicaldata.repositories" entity-manager-factory-ref="entityManagerFactory"></jpa:repositories>
</beans>

